[data-page='institutional-business']{
	
	@mixin bp($point) {
  
	  $bp-tablet: '(min-width: 768px)';
	  $bp-desktop: '(min-width: 1200px)';

	  @if $point == tablet {
	    @media #{$bp-tablet} { @content; }
	  }
	  @else if $point == desktop {
	    @media #{$bp-desktop} { @content; }
	  }

	}

	.section-content {
		font-size: 14px;

		@include bp(tablet){
			font-size: 16px;
		}
	}

	.hero-institutional-business {
	    background: url(/citi/assets/img/institutional-business/hero.jpg) no-repeat center top;
	    background-size: cover;
	}

	.img-bg {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.links {
		color: #008ce6;
		font-size: 14px;

		a {
			color: #008ce6;

			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	.content-container {
		@include bp(tablet){
			margin-top: 0px !important;
			position: relative;
			top: -20px;
		}
		
		//padding-top: 10px !important;
	}

	.citi-content-section {
		&:last-child {
			padding-bottom: 0;

			@include bp(tablet){
				padding-bottom: 2em;
			}
		}

		h1 {
			padding-top: 0;
		}

		img {
			width: 110%;
			position: relative;
			left: -5%;
		}

		@include bp(tablet){
			img {
				width: 100%;
				position: auto;
				left: 0;
			}
		}

		p {
			margin-top: 40px;
		}

		.learn-more_ {
			width: 100%;
			text-align: center;
			margin-bottom: 50px;
		}

		a.learn-more {
			display: block;
			color: white;
			background-color: #0f6cae;
			float: none;
			display: inline-block;
			font-family: Interstate, sans-serif;
			border-radius: 5px 5px;
			padding: 8px 24px;
			font-size: 1.1em;
			margin-top: 8px;
			

			@include bp(tablet){
				float: left;
				border-radius: 8px 8px;
				padding: 10px 30px;
				font-size: 16px;
				margin-top: 18px;
				margin-bottom: 10px;
			}
		}

		h2 {
			font-weight: bold;
		}
	}

	.intro {
		margin-top: 0;
	}


}