.test {
  display: block; }

html, body {
  background-color: #FFE6D8;
  background: -webkit-linear-gradient(#FFE6D8, #FFC4C6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFE6D8, #FFC4C6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFE6D8, #FFC4C6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFE6D8, #FFC4C6);
  /* Standard syntax */ }

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: none;
  min-width: none; }
  body h1 {
    font-size: 3em;
    margin-top: 0; }
  body h2 {
    font-size: 1.4em; }
  body input,
  body input:hover,
  body input:focus {
    border: none;
    box-shadow: none;
    outline-width: 0; }

a.shire-logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 7; }
  a.shire-logo img {
    width: 40px; }
    @media (min-width: 640px) {
      a.shire-logo img {
        width: 70px; } }

[data-modal],
[data-modal-full] {
  display: none;
  background-color: rgba(59, 92, 173, 0.96);
  z-index: 9;
  position: relative;
  color: white;
  padding: 80px 30px 40px 30px; }
  @media (min-width: 640px) {
    [data-modal],
    [data-modal-full] {
      padding: 110px 20% 100px 20%; } }
  [data-modal] a.exit,
  [data-modal-full] a.exit {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 24px;
    height: 24px; }
    [data-modal] a.exit img,
    [data-modal-full] a.exit img {
      width: 100%;
      height: 100%; }
    @media (min-width: 640px) {
      [data-modal] a.exit,
      [data-modal-full] a.exit {
        right: 50px;
        top: 50px;
        position: fixed; } }

[data-modal-full] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(59, 92, 173, 0.9); }

main {
  position: relative;
  width: 100%;
  min-height: 100%;
  float: left;
  font-family: 'filson-soft', sans-serif; }
  main a:hover, main a:visited, main a:active, main a:focus {
    text-decoration: none;
    display: inline-block; }

[data-page='home'] {
  /* section[data-view] */ }
  [data-page='home'] a.cyl-btn {
    padding: 12px 32px;
    border-radius: 4px 4px;
    display: block;
    float: left; }
    [data-page='home'] a.cyl-btn.next {
      background-color: #FF7175;
      color: white;
      position: relative;
      padding: 12px 42px 12px 32px; }
      [data-page='home'] a.cyl-btn.next:after {
        content: '';
        background-image: url("/assets/svg/btn-arrow.svg");
        width: 50px;
        height: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center; }
    [data-page='home'] a.cyl-btn.invert {
      background-color: white;
      color: #FF7175; }
  [data-page='home'] section[data-view] {
    height: 100%;
    float: left;
    float: left;
    display: none;
    left: 0;
    top: 0;
    padding: 30px;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center; }
    [data-page='home'] section[data-view] a.shire-logo {
      position: absolute; }
    [data-page='home'] section[data-view] [data-state] {
      display: none;
      width: 100%;
      min-height: 100%; }
    @media (min-width: 640px) {
      [data-page='home'] section[data-view] {
        padding: 50px;
        padding-top: 70px; } }
    [data-page='home'] section[data-view] .inner {
      display: inline-block;
      width: 100%;
      max-width: 900px;
      text-align: left; }
    [data-page='home'] section[data-view] .title,
    [data-page='home'] section[data-view] .content,
    [data-page='home'] section[data-view] .cta {
      width: 100%;
      float: left;
      margin-bottom: 12px; }
      [data-page='home'] section[data-view] .title.centered,
      [data-page='home'] section[data-view] .content.centered,
      [data-page='home'] section[data-view] .cta.centered {
        text-align: center; }
        [data-page='home'] section[data-view] .title.centered a.cyl-btn,
        [data-page='home'] section[data-view] .content.centered a.cyl-btn,
        [data-page='home'] section[data-view] .cta.centered a.cyl-btn {
          display: inline-block;
          float: none; }
    [data-page='home'] section[data-view] .content p {
      color: #FF7175; }
    [data-page='home'] section[data-view] .content .choices {
      /* div[type='checkbox'] */ }
      [data-page='home'] section[data-view] .content .choices div[class*='col-'] {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        float: left; }
      @media (min-width: 640px) {
        [data-page='home'] section[data-view] .content .choices div[class*='col-'] {
          margin-left: 0;
          padding-left: 0;
          float: left; } }
      [data-page='home'] section[data-view] .content .choices div[type='checkbox'] {
        border: 1px solid black;
        padding: 15px 14px 14px 50px;
        border-radius: 8px 8px;
        position: relative;
        margin-bottom: 10px;
        display: block;
        color: black;
        font-size: .9em;
        float: left; }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox'].fullw {
          width: 100%; }
        @media (min-width: 640px) {
          [data-page='home'] section[data-view] .content .choices div[type='checkbox'] {
            font-size: 1.3em;
            padding: 15px 14px 14px 60px; } }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox'].tall {
          height: 70px;
          padding-top: 12px;
          line-height: 1.2em; }
          [data-page='home'] section[data-view] .content .choices div[type='checkbox'].tall span {
            font-size: .5em;
            position: relative;
            top: -2px;
            text-transform: uppercase; }
            @media (min-width: 640px) {
              [data-page='home'] section[data-view] .content .choices div[type='checkbox'].tall span {
                font-size: .8em; } }
          @media (min-width: 640px) {
            [data-page='home'] section[data-view] .content .choices div[type='checkbox'].tall {
              height: 86px;
              padding-top: 18px;
              line-height: 1.35em; } }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox'] a {
          color: black;
          text-decoration: underline; }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox']:before {
          content: "";
          display: block;
          width: 26px;
          height: 26px;
          position: absolute;
          left: 14px;
          top: 50%;
          margin-top: -13px;
          border: 1px solid black;
          border-radius: 50% 50%; }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox'][selected] {
          background-color: white;
          border: 1px solid white; }
          [data-page='home'] section[data-view] .content .choices div[type='checkbox'][selected]:before {
            content: '';
            background-color: black;
            background-image: url("/assets/svg/checkbox-check.svg");
            background-repeat: no-repeat;
            background-position: center center; }
        [data-page='home'] section[data-view] .content .choices div[type='checkbox']:hover {
          background-color: white;
          border: 1px solid white;
          box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
          cursor: pointer; }
    [data-page='home'] section[data-view][data-view='questions-day'] img.clock {
      position: absolute;
      right: 40px; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] p.confidential {
      font-size: .48em; }
      @media (min-width: 640px) {
        [data-page='home'] section[data-view][data-view='questions-thanks'] p.confidential {
          font-size: .68em; } }
    [data-page='home'] section[data-view][data-view='questions-thanks'] ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #FF7175; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] ::-moz-placeholder {
      /* Firefox 19+ */
      color: #FF7175; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] :-ms-input-placeholder {
      /* IE 10+ */
      color: #FF7175; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] :-moz-placeholder {
      /* Firefox 18- */
      color: #FF7175; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] .cta {
      margin-top: 10px; }
    [data-page='home'] section[data-view][data-view='questions-thanks'] input[name='email'] {
      width: 100%;
      height: 46px;
      margin-bottom: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid #FF7175;
      border-radius: 4px 4px;
      padding-left: 20px;
      font-size: 1.4em;
      color: #FF7175; }
      @media (min-width: 640px) {
        [data-page='home'] section[data-view][data-view='questions-thanks'] input[name='email'] {
          height: 60px; } }
  [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] {
    display: block;
    padding-top: 18vh; }
    [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner {
      text-align: center; }
      [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner h1 {
        font-weight: bold;
        font-size: 2em;
        line-height: 1.1em; }
      [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner h2 {
        line-height: 1.3em; }
      [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner p {
        color: black;
        margin-top: 20px; }
      [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner .cta a {
        margin-bottom: 10px; }
    @media (min-width: 640px) {
      [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] {
        padding-top: 22vh; }
        [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner h1 {
          font-size: 4em; }
        [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner h2 {
          font-size: 2.5em; }
        [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner p {
          font-size: 1.2em;
          width: 100%;
          max-width: 580px;
          display: inline-block;
          margin-top: 4px; }
        [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner .cta {
          margin-top: 10px; }
          [data-page='home'][data-show-view='cyl-complete'] section[data-view='cyl-complete'] .inner .cta a {
            margin: 0 3px; } }
  [data-page='home'][data-show-view='splash'] section[data-view='splash'] {
    display: block;
    text-align: center;
    padding-top: 12vh; }
    [data-page='home'][data-show-view='splash'] section[data-view='splash'] p {
      color: black;
      font-size: 1.2em;
      line-height: 1.7em;
      margin-top: 20px; }
    [data-page='home'][data-show-view='splash'] section[data-view='splash'] a.cyl-btn {
      width: 94%; }
    [data-page='home'][data-show-view='splash'] section[data-view='splash'] img {
      width: 80%;
      display: inline-block;
      margin-bottom: -10px; }
    @media (min-width: 640px) {
      [data-page='home'][data-show-view='splash'] section[data-view='splash'] {
        padding-top: 17vh; }
        [data-page='home'][data-show-view='splash'] section[data-view='splash'] img {
          width: 46%; }
        [data-page='home'][data-show-view='splash'] section[data-view='splash'] p {
          font-size: 1.6em;
          line-height: 1.8em; }
        [data-page='home'][data-show-view='splash'] section[data-view='splash'] a.cyl-btn {
          margin-top: 20px;
          width: auto; } }
  [data-page='home'][data-show-view='questions-about'] a.shire-logo {
    display: none; }
  [data-page='home'][data-show-view='questions-about'] section[data-view='questions-about'] {
    display: block; }
    [data-page='home'][data-show-view='questions-about'] section[data-view='questions-about'] a.shire-logo {
      display: block; }
    @media (min-width: 640px) {
      [data-page='home'][data-show-view='questions-about'] section[data-view='questions-about'] .content .choices div[type='checkbox'] {
        width: calc(100% - 20px); } }
  [data-page='home'][data-show-view='questions-day'] section[data-view='questions-day'] {
    display: block; }
  [data-page='home'][data-show-view='questions-thanks'] section[data-view='questions-thanks'] {
    display: block; }
  [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] {
    display: block; }
    [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .title {
      width: 100%; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .title h1, [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .title h2 {
        text-align: center; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .title h1 {
        font-size: 2.6em;
        margin-bottom: -10px; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .title h2 {
        font-size: 1.3em;
        line-height: 1.5em; }
    [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] .cta a.cyl-btn {
      margin-top: 20px; }
    [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] [data-state] {
      text-align: center; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] [data-state] img {
        margin-bottom: 40px;
        height: 200px; }
        @media (min-width: 640px) {
          [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'] [data-state] img {
            height: 280px; } }
    [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='email'] {
      padding-top: 14vh; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='email'] [data-state='email'] {
        display: block; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='email'] img {
        height: 160px; }
        @media (min-width: 640px) {
          [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='email'] img {
            height: 210px; } }
      @media (min-width: 640px) {
        [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='email'] {
          padding-top: 15vh; } }
    [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='no-email'] {
      padding-top: 12vh; }
      [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='no-email'] [data-state='no-email'] {
        display: block; }
      @media (min-width: 640px) {
        [data-page='home'][data-show-view='questions-finished'] section[data-view='questions-finished'][data-show-state='no-email'] {
          padding-top: 12vh; } }
  [data-page='home'][data-show-view='cyl'] section[data-view='cyl'] {
    display: block; }
    [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] {
      display: block;
      text-align: center;
      padding-top: 10vh; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] h1 {
        font-size: 2.6em; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] h2 {
        font-size: 1.7em;
        line-height: 1.3em; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] .cta {
        margin-top: 40px; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] img {
        height: 190px;
        margin-bottom: 16px; }
      @media (min-width: 640px) {
        [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] {
          padding-top: 10vh; }
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] h1 {
            font-size: 5em; }
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] h2 {
            font-size: 3em; }
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='play-composition'] [data-modal-full='play-composition'] .cta {
            margin-top: 30px; } }
    [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'] {
      display: block;
      text-align: center; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='start'] [data-state='start'] {
        display: block;
        padding-top: 12vh; }
        [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='start'] [data-state='start'] img {
          width: 94%;
          display: inline-block;
          margin-bottom: 10px; }
        [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='start'] [data-state='start'] p {
          margin-top: 20px;
          font-size: 1.9em;
          font-weight: 100; }
        @media (min-width: 640px) {
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='start'] [data-state='start'] img {
            width: 46%; }
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='start'] [data-state='start'] p {
            font-size: 3.2em; } }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='walkthrough'] [data-state='walkthrough'] {
        display: block; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] {
        display: block;
        padding-top: 23vh;
        text-align: center; }
        [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] img {
          width: 90%;
          display: inline-block;
          margin-bottom: 14px; }
        [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] p {
          font-size: 2.4em;
          line-height: 1.2em; }
        @media (min-width: 640px) {
          [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] {
            padding-top: 12vh; }
            [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] img {
              width: 38%;
              max-width: 480px;
              margin-left: -20px; }
            [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'][data-show-state='ready'] [data-state='ready'] p {
              font-size: 6em; } }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'] p {
        font-size: 1.8em; }
      [data-page='home'][data-show-view='cyl'] section[data-view='cyl'][data-show-modal='get-started'] [data-modal-full='get-started'] .cta {
        margin-top: 30px; }
  [data-page='home'][data-show-view='cyl'] a.cyl-logo {
    position: absolute;
    bottom: 20px;
    left: 30px; }

/* [data-page='home'] */
html.touch body {
  overflow: auto; }

body[data-show-modal] {
  overflow: auto;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  background-color: #3b5cad; }
  body[data-show-modal] section[data-view] {
    position: fixed; }

body[data-show-modal='terms-conditions'] section[data-modal='terms-conditions'] {
  display: block; }
